/* Fuentes para la página */
@import 


* {
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
    display: flex;
    font-family: sans-serif;
    text-decoration: none;
    list-style-type: none;
}

nav{
    background:#060709;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1 rem;
    width: 100%;
    height: 70px;
}

ul a {
    color:#FFFFFF
}

ul{
    list-style: none;
    display: flex;
    gap: 10px;

}

header{
    
}

.logo{
    height: 90%;
   
}

.guardar{
    height: 40%;
}