/* Fuentes para la página */
@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Enriqueta:wght@400;500&display=swap" rel="stylesheet">);

:root {
    --background: #060709;
    --text-withe-bold: #FFFFFF;
    --text-withe: #979595;

    
}


* {
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

nav{
    
}

ul a {
    color: var(--text-withe)
}

ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

header{
    background: var(--background);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4 rem;
    height: 70px;
    position: fixed;
    top:0;
    z-index: 2;
}

.logo{
    height: 90%;
    margin-left: 1.5rem;
   
}

.favoritos{
    height: 45%;
    border-radius: 3px;
    padding: 5px 5px;
    margin-right: 3rem;
    border: 2px solid var(--text-withe);
    cursor: pointer;

}

.navbar,
.navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    gap: 65px;
    height: 70px;
}

.navbar-list{
    gap: 30px;
}

.navbar-list li:first-child> a {
    color:var(--text-withe);
    font-weight: 6000;
}